body {
  background-color: rgb(69, 43, 43);
  color: rgb(250, 250, 250);
  font-family: "Tajawal", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 700px;
  margin:  0;
}

button {
    background-color: rgb(172, 179, 185);
    color: rgb(0, 0, 0);
    font-family: "Tajawal", sans-serif;   
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%  ;
}

img {
    max-width: 80%;
}


